{% extends "bootstrap/base.html" %}

{% set left_navigation_bar = [("homepage",'Home'),
						 ("FAQ_page",'FAQ'),
						 ("NN_page",'NN'),] %}

{% if current_user %}
	{% set right_navigation_bar = [("logout_page",'log-out', 'Logout'),
							 ] %}
{% else %}
	{% set right_navigation_bar = [("register_page","user",'Sign Up'),
							 ("login_page",'log-in', 'Login'),
							] %}
{%endif %}


	{% block head %}
		<head>

			<meta charset="UTF-8">
			<meta http-equiv="X-UA-Compatible" content="IE=edge">
			<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1">
			<meta name="google-site-verification" content="cfVJIdbsJr8GNSU8zmrPJmV7YFNVeyE-2XvK85oLGXk" />
			

			<title>AI Protein Solutions</title>
			<!-- Loading third party fonts -->
			{% block styles %}
				<link href="http://fonts.googleapis.com/css?family=Roboto:300,400,700|" rel="stylesheet" type="text/css">
				<link href="../startup_landing/fonts/font-awesome.min.css" rel="stylesheet" type="text/css">


				<!-- Loading main css file -->
				<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
				<link rel="stylesheet" href="../startup_landing/bootstrap-3.3.7/css/bootstrap.css">
				<link rel="stylesheet" href="../startup_landing/style.css">


				<!--[if lt IE 9]>
				<!--
				<script src="../startup_landing/js/ie-support/html5.js"></script>
				<script src="../startup_landing/js/ie-support/respond.js"></script>
				<![endif]-->
			{% endblock styles %}
		</head>
	{% endblock head %}




    {% block content %}
		{% block nav %}
			<!--<nav class="navbar navbar-default"></nav> -->
			<nav class="navbar navbar-fixed-top navbar-inverse">
				<div class="container-fluid">
					<div class="navbar-header">
						<button class="navbar-toggle navbar-right" type="button" data-toggle="collapse"
								data-target="#NavBar">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
					  	<a class="navbar-brand" href="{{ url_for('homepage') }}">
							<!-- <img src="../images/AIPS_logo_feb10.png" width="50" height="50">-->
						</a>
					</div>


					<div class="collapse navbar-collapse" id="NavBar">
						<ul class="nav navbar-nav">
							{% for href,caption in left_navigation_bar %}
								<li{% if active_page == caption|e %} class="active"{% endif %}>
									<a href="{{ url_for(href|e) }}">{{ caption|e }}</a>
								</li>
							{% endfor %}
							{% if active_page == 'Home' %}
							<li class="#"><a href="#about">About</a></li>
							{% else %}
							<li class="#"><a href="{{ url_for('homepage') }}#about">About</a></li>
							{% endif %}
						</ul>
					{#
						<!--
						<li class="active"><a href="{{ url_for('homepage') }}">Home</a></li>
						<li><a href="{{ url_for ('NN_page') }}">NN</a></li>
						<li><a href="{{ url_for ('FAQ_page') }}">FAQ</a></li>
						-->
					#}
						<ul class="nav navbar-nav navbar-right">
							{% for href,glyph,caption in right_navigation_bar %}
								<li {% if active_page == caption|e %} class="active" {% endif %}>
									<a href="{{ url_for(href|e) }}">
								<span class="glyphicon glyphicon-{{glyph}}"></span> {{ caption|e }}</a></li>
							{% endfor %}
						</ul>
					</div>
				</div>
			</nav>
				{#
				<!--
				{% if current_user %}
				<ul class="nav navbar-nav navbar-right">
					<li><a href="{{ url_for('logout_page') }}"><span class="glyphicon glyphicon-log-out"></span> Log out</a></li>
				</ul>
				{% else %}
				<ul class="nav navbar-nav navbar-right">
					<li><a href="{{ url_for('register_page') }}"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
					<li><a href="{{ url_for('login_page') }}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
					<!--<button class="btn btn-primary navbar-nav navbar-right">Login</button>
				</ul>

				{% endif %}
				-->
				#}
		{% endblock nav %}

		{% block main %}
		{% endblock main %}

		{% block footer %}
			<div class=""></div>
			<footer class="site-footer">
				<div class="container">
					<p>
						Copyright 2019 by AI Protein Solutions, LLC. All rights reserved.
					</p>
					<!--
					<p>Copyright 2019 by the Ellington Lab at the University of Texas at Austin,
						Designed by Danny D. All rights reserved</p>
					-->

					<div class="social-links">
						<a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
						<a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
						<a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
					</div>
				</div>
			</footer>
		{% endblock footer %}


		<script src="../startup_landing/js/jquery-1.11.1.min.js"></script>
		<script src="../startup_landing/js/plugins.js"></script>
		<script src="../startup_landing/js/app.js"></script>

{% endblock content %}
