{% extends "source.html" %}

{#
<!--
{% block nav %}
     <ul class="nav navbar-nav">
				<li ><a href="{{ url_for('homepage') }}">Home</a></li>
			  	<li><a href="{{ url_for ('NN_page') }}">NN</a></li>
			  	<li><a href="{{ url_for ('FAQ_page') }}">FAQ</a></li>

			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li class="active"><a href="{{ url_for('register_page') }}"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      			<li><a href="{{ url_for('login_page') }}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
				<button class="btn btn-primary navbar-nav navbar-right">Login</button>
			</ul>
{% endblock nav %}
-->
#}

{% block nav %}
    {{super()}}
{% endblock nav %}

{% block main %}
    <div class="container-fluid">
        <section class="container">
            <div class="container-page">
                <form method="post">
                    <div class="col-md-12">
                        <div class="col-sm-12 page-header">
                            <h1 class="dark-grey">Registration<small></small></h1>
                        </div>
                        <!--
                        <h3 class="pricing-header dark-grey"><strong>Registration</strong></h3>
                        -->
                        {{ form.hidden_tag() }}

                        <div class="form-group col-lg-6">
                            {{ form.first_name.label}}<br>
                            {{ form.first_name(size=42) }}<br>
                            {% for error in form.first_name.errors %}
                            <span style="color : red;">{{error}}</span>
                            {% endfor %}
                        </div>

                        <div class="form-group col-lg-6">
                            {{ form.last_name.label}}<br>
                            {{ form.last_name(size=42) }}<br>
                            {% if form.last_name.errors %}
                                {% for error in form.last_name.errors %}
                                <span style="color : red;">{{error}}</span>
                                {% endfor %}
                            {% endif%}
                        </div>

                        <div class="form-group col-lg-6">
                            {{ form.email.label() }}<br>
                            {{ form.email(size=42) }}<br>
                            {% for error in form.email.errors %}
                            <span style="color : red;">{{error}}</span>
                            {% endfor %}
                        </div>

                        <div class="form-group col-lg-6">
                            {{ form.retype_email.label()}}<br>
                            {{ form.retype_email(size=42) }}<br>
                            {% for error in form.retype_email.errors %}
                            <span style="color : red;">{{error}}</span>
                            {% endfor %}
                        </div>

                        <div class="form-group col-lg-6">
                            {{ form.password.label() }}<br>
                            {{ form.password(size=42) }}<br>
                            {% for error in form.password.errors %}
                            <span style="color : red;">{{error}}</span>
                            {% endfor %}
                        </div>

                        <div class="form-group col-lg-6">
                            {{ form.retype_password.label() }}<br>
                            {{ form.retype_password(size=42) }}<br>
                            {% for error in form.retype_password.errors %}
                            <span style="color : red;">{{error}}</span>
                            {% endfor %}
                        </div>

                        <div class="form-group col-lg-6">
                            {{ form.organization.label('Affiliated Organization')}}<br>
                            {{ form.organization(size=42) }}<br>
                            {% for error in form.organization.errors %}
                            <span style="color : red;">{{error}}</span>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="col-md-6 text-justify">
                        <h3 class="dark-grey"><strong>Terms and Conditions</strong></h3>
                        <p>
                            By clicking on "Register" you agree to not properly misuse the Neural Network.
                        </p>
                        <p>
                            We reserve the right to deny any user access to the Protein Neural net without providing
                            reason.
                        </p>
                        <p>
                            This Protein Neural Net is still an on going research project in the Ellington Research Lab
                            and may be temporarily offline for updates and the addition of new features.
                        </p>
                        <p>
                            Please visit the FAQ for additional details.
                        </p>

                        <br>
                        {{ form.submit(class_="btn btn-primary") }}
                    </div>
                </form>
            </div>
        </section>
    </div>
{% endblock main %}

<div class="site-footer">
{% block footer %}
    {{ super() }}
{% endblock footer %}
</div>


